<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885478941018-ltns95sonc9fk8ac211if6mbep5ai7q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885478941018-ltns95sonc9fk8ac211if6mbep5ai7q9</string>
	<key>API_KEY</key>
	<string>AIzaSyA3DhXT5qzS4j6BxEY1JfHZgpp_j-r-h4A</string>
	<key>GCM_SENDER_ID</key>
	<string>885478941018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homesound.tonify</string>
	<key>PROJECT_ID</key>
	<string>rcptriggerreceiver</string>
	<key>STORAGE_BUCKET</key>
	<string>rcptriggerreceiver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885478941018:ios:03e6a0188d31a909bf5363</string>
	<key>DATABASE_URL</key>
	<string>https://rcptriggerreceiver.firebaseio.com</string>
</dict>
</plist>